Repository lileddie/F5-Terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: www-static-content, intranet

atlantis.yaml:

version: 2
projects:
- name: www-static-content
  dir: www-static-content
  autoplan:
    when_modified: ["*.tf"]
    enabled: true
  workflow: stdF5Workflow
- name: intranet
  dir: intranet
  autoplan:
    when_modified: ["*.tf"]
    enabled: true
  apply_requirements: [approved]
  workflow: stdF5Workflow
workflows:
  stdF5Workflow:
    plan:
      steps:
      - init
      - plan
    apply:
      steps:
      - apply

Updating config files
  intranet/main.tf
  www-static-content/main.tf
Due: www-static-content, intranet

syntax fix
  intranet/main.tf
  www-static-content/main.tf
Due: www-static-content, intranet

Updated sytnax
  www-static-content/main.tf
Due: www-static-content

Updating pool syntax
  www-static-content/main.tf
Due: www-static-content

Updating pool syntax
  intranet/main.tf
Due: intranet

updated syntax
  intranet/main.tf
Due: intranet

removing main.tf
  main.tf
Due: none

Updating syntax
  intranet/main.tf
  www-static-content/main.tf
Due: www-static-content, intranet

Updating syntax
  www-static-content/main.tf
Due: www-static-content

Updating syntax
  intranet/main.tf
Due: intranet

changed repo name
  README.md
Due: none

Update README.md
  README.md
Due: none
